/* ---------- CUSTOM PROPERTIES ----------*/
:root {
    --clr-white: #E6E3DB;
    --clr-black: #49306B;
    --gap: 1em;
    --gap-lg: 3em;
}
/* ---------- RESET ----------*/
*,
*:before,
*:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body, div, span, h1, p, blockquote {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

img {
    display: block;
    max-width: 100%;
}

body {
    font-family: 'Source Code Pro', monospace;
    font-size: clamp(1.2rem, 0.7263rem + 2.0211vw, 3rem);
    font-weight: 400;
    line-height: 1.2;
    color: #E6E3DB;
}

body, header {
    background: linear-gradient(to right, #2F1651, #49306B, #2F1651);
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

/* ---------- TYPOGRAPHY ----------*/
h1 {
    margin: 1em 0;
    font-family: 'Open Sans', sans-serif;
    font-size: clamp(2rem, 0.9474rem + 4.4912vw, 6rem);
    font-weight: 600;
    letter-spacing: .3rem;
    text-transform: uppercase;
    text-align: center;
    background: -webkit-linear-gradient(130deg, #923F76, #CF5971, #F78463, #FFBC5B);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.number {
    font-weight: 600;
    color: #F78463;
}

.author {
    display: block;
    font-family: 'Shadows Into Light', cursive;
    text-align: right;
    letter-spacing: .3rem;
    color: #E8D5B5;
    margin-top: .25em;
}

/* ---------- LAYOUT ----------*/
header {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #49306B;
    opacity: .96;
    backdrop-filter: blur(100px);
}

.container {
    max-width: 900px;
    margin-inline: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.quotes {
    margin-top: 7em;
}

blockquote {
    margin-bottom: 1em;
}

/* ---------- COMPONENTS ----------*/
.loader {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
    opacity: 0;
    margin-inline: auto;
    border-radius: 50%;
    background-color: #F78463;
}

.loader div {
    display: inline-block;
    position: absolute;
    width: 16px;
    /* background-color: #F78463; */
    animation: loader 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
}

.loader div:nth-child(1) {
    left: 8px;
    animation-delay: -0.24s;
}

.loader div:nth-child(2) {
    left: 32px;
    animation-delay: -0.12s;
}

.loader div:nth-child(3) {
    left: 56px;
    animation-delay: 0;
}

.show {
    opacity: 1;
}

/* ---------- MEDIA QUERIES ----------*/
@media (max-width: 850px) {
    .container {
        width: 90vw;
    }
}

@media (max-width: 580px) {
    h1 {
        letter-spacing: normal;
    }
}

@media (max-width: 400px) {
    .quotes {
        margin-top: 6.5em;
    }
}

/* @media (min-width: 1000px) {
    h1 {
        margin: .75em 0;
    }
    .quotes {
        margin-top: 4em;
    }
} */